![LogoUC3M]()

# PRÁCTICA 1: Procesamiento de datos mediante Apache Spark

Autores: Pablo Hidalgo Delgado, Till Niklas Kobele, Juan Romero Sanz, Juan María Villard Bardón.

NIAs: 100451225, 100548395, 100535977, 100439614.

Grupo de prácticas: D

## Índice
- [1. Introducción](#1.-Introducción)

- [2. Lectura de los datos](#2.-Lectura-de-los-datos)

    - [2.1 Trip data](#2.1-Trip-data)
 
    - [2.2 Zone data](#2.2-Zone-data)

- [3. Análisis exploratorio de los datos](#2.-Análisis-exploratorio-de-los-datos)
      
    - [3.1 Trip data](#3.1-Trip-data)
 
    - [3.2 Zone data](#3.2-Zone-data)

- [4. Preproceso de los datos](#4.-Preproceso-de-los-datos)

    - [4.1 Conversión de formato de fecha al formato UNIX (timestamp)](#4.1-Conversión-de-formato-de-fecha-al-formato-UNIX-(timestamp))
      
    - [4.2 Unión de las 2 fuentes de datos](#4.2-Unión-de-las-fuentes-de-datos)
 
    - [4.3 Conversión de millas a kilómetros](#4.2-Conversión-de-millas-a-kilómetros)

- [5. Implementación de las consultas](#5.-Implementación-de-las-consultas)

    - [5.1 Velocidad media de los taxis en función de la hora](#5.1-Velocidad-media-de-los-taxis-en-función-de-la-hora)
 
        - [5.1.1 Dataframes de Spark](#5.1.1-Dataframes-de-Spark)
          
        - [5.1.2 SparkSQL](#5.1.2-SparkSQL)
     
        - [5.1.3 RDDs](#5.1.3-RDDs)
      
    - [5.2 Viajes en taxi más comunes](#5.2-Viajes-en-taxi-más-comunes)
 
        - [5.2.1 Dataframes de Spark](#5.2.1-Dataframes-de-Spark)
          
        - [5.2.2 SparkSQL](#5.2.2-SparkSQL)
     
        - [5.2.3 RDDs](#5.2.3-RDDs)
     
    - [5.3 Cantidad total media pagada en función del número de pasajeros](#5.2-Cantidad-total-media-pagada-en-función-del-número-de-pasajeros)
 
        - [5.3.1 Dataframes de Spark](#5.3.1-Dataframes-de-Spark)
          
        - [5.3.2 SparkSQL](#5.3.2-SparkSQL)
     
        - [5.3.3 RDDs](#5.3.3-RDDs)

- [6. Análisis del rendimiento comparando las distintas consultas](#6.-Análisis-del-rendimiento-comparando-las-distintas-consultas)




.

.

.


  
- [Conclusión](#conclusión)

## 1. Introducción

Este proyecto consiste en un análisis de los datos de viajes de taxis de YellowCab en la ciudad de Nueva York, utilizando Apache Spark para procesar grandes volúmenes de datos. Se realizan estudios sobre:

- Velocidad media de los taxis en función de la hora.
  
- Viajes en taxi más comunes.

- Cantidad total media pagada en función del número de pasajeros.
  
Esto se consigue mediante la implementación de consultas mediante Spark SQL, DataFrames y RDDs. El objetivo principal es realizar un análisis de rendimiento comparativo entre estas técnicas.


`revisar introducción`

## 2. Lectura de los datos

### 2.1 Trip data

En primer lugar, leemos el conjunto de datos principal, que se encontrará almacenado en el archivo `data/tripdata_2017-01.csv`. Este fichero contiene datos estructurados sobre los viajes en taxi en la ciudad de Nueva York durante el mes de Enero de 2017.

In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

cores = 3
spark = SparkSession.builder.master(f'local[{cores}]').getOrCreate()
#spark.conf.set('spark.cores.max', '1')
#spark.conf.set('spark.driver.memory','1000M')

sc = spark.sparkContext

spark

In [2]:
# Definimos la ruta del archivo CSV
route_trip_data = "data/tripdata_2017-01.csv"

# Leemos el archivo CSV como un DataFrame de Spark
trip_data_df = spark.read.csv(route_trip_data, header=True, inferSchema=True)

print(type(trip_data_df))

Se obtiene un objeto dataframe de Spark con los datos almacenados.

### 2.2 Zone data

De la misma manera, leemos el archivo CSV que contiene información sobre las distintas zonas de la ciudad de Nueva York. Este archivo se incluye en la práctica con el objetivo de ampliar nuestro dataset principal, añadiendo información sobre las zonas en que se tomaron los taxis.

In [3]:
# Leemos el fichero con información sobre las zonas
route_zone_data = "data/taxi_zone_lookup.csv"

# Leemos el archivo CSV como un DataFrame de Spark
zone_data_df = spark.read.csv(route_zone_data, header=True, inferSchema=True)

## 3. Análisis exploratorio de los datos

Antes de empezar con las operaciones y el análisis, vamos a realizar un pequeño análisis exploratorio de datos (EDA). De esta manera, podremos investigar y resumir las características más importantes de nuestros datasets. Esto nos servirá para comprender mejor los conjuntos de datos e identificar potenciales operaciones de preprocesamiento que serán necesarias para nuestra práctica.

### 3.1 Trip data

In [4]:
trip_data_df.toPandas()

In [5]:
trip_data_df.printSchema()

El conjunto de datos se compone de **971010 filas y 17 atributos**. En cuanto a las columnas, 8 contienen valores de tipo double, 6 contienen valores enteros (integer), 2 contienen valores de tipo timestamp (fecha) y 1 contiene valores de tipo string. Inspeccionando la página web [NYC TLC Trip Record Data](https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page), podemos encontrar el significado de todos estos atributos.

In [6]:
trip_data_df.describe().toPandas()

### 3.2 Zone data

In [7]:
zone_data_df.toPandas()

In [8]:
zone_data_df.printSchema()

El conjunto de datos se compone de **265 filas y 4 atributos**. Cada fila se corresponde con una zona distinta de Nueva York, identificada por la columna `LocationID`

In [9]:
zone_data_df.describe().toPandas()

## 4. Preproceso de los datos

Antes de empezar con las distintas operaciones, realizamos un preproceso de los datos para tenerlos en el formato más adecuado y deseado para la realización de la práctica.

### 4.1 Conversión de formato de fecha al formato UNIX (timestamp)

En el apartado anterior, observamos que las columnas **tpep_pickup_datetime** y **tpep_dropoff_datetime** contienen fechas (como era de esperar) en formato cadena (string) con el formato aaaa-mm-dd hh:mm:ss. 

Para poder trabajar y realizar operaciones matemáticas con estos valores de fechas, es necesario convertirlas a un formato que permita cálculos y comparaciones eficientes, como el formato UNIX (timestamp), el cual representa el número de segundos transcurridos desde el 1 de enero de 1970. Añadimos 2 columnas con estos valores a nuestro dataset.

In [10]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

datetime_to_UNIX = lambda dt: int(dt.timestamp())
datetime_to_UNIX_udf = udf(datetime_to_UNIX, IntegerType())

trip_data_df_unix = (
    trip_data_df
    .withColumn("tpep_pickup_datetime_unix", datetime_to_UNIX_udf(trip_data_df['tpep_pickup_datetime']))
    .withColumn("tpep_dropoff_datetime_unix", datetime_to_UNIX_udf(trip_data_df['tpep_dropoff_datetime']))
)

trip_data_df_unix.printSchema()
trip_data_df_unix.select("tpep_pickup_datetime_unix", "tpep_dropoff_datetime_unix").limit(5).toPandas()

### 4.2 Unión de las 2 fuentes de datos

Para ampliar nuestro conjunto de datos y agregar información adicional, vamos a incorporar detalles sobre las zonas de Nueva York en las que inició y finalizó cada viaje de taxi. Para ello, realizamos dos uniones (joins) entre nuestro conjunto de datos de viajes y el conjunto de datos de zonas, utilizando el atributo LocationID del dataset de zonas y los atributos PULocationID (zona de inicio del viaje o donde se activó el taxímetro) y DOLocationID (zona de finalización del viaje o donde se apagó el taxímetro) del dataset de viajes.

In [11]:
from pyspark.sql import functions as F

# Hacemos el join por la el ID de Localización en que se inició el trayecto y seleccionamos las columnas con los nombres necesarios
trip_data_df_unix_joined = (
    trip_data_df_unix.alias("trip_data")
    .join(zone_data_df.alias("pickup_zone"), F.col("trip_data.PULocationID") == F.col("pickup_zone.LocationID"), "inner")
    .join(zone_data_df.alias("dropoff_zone"), F.col("trip_data.DOLocationID") == F.col("dropoff_zone.LocationID"), "inner")
    .select(
        "trip_data.*",  # Todas las columnas originales de trip_data
        F.col("pickup_zone.service_zone").alias("Pickup_service_zone"),  # Seleccionamos y renombramos las columnas de pickup_zone
        F.col("pickup_zone.Borough").alias("Pickup_Borough"),
        F.col("pickup_zone.Zone").alias("Pickup_Zone"),
        F.col("dropoff_zone.service_zone").alias("Dropoff_service_zone"),  # Seleccionamos y renombramos las columnas de dropff_zone
        F.col("dropoff_zone.Borough").alias("Dropoff_Borough"),
        F.col("dropoff_zone.Zone").alias("Dropoff_Zone")
    )
)

trip_data_df_unix_joined.printSchema()

trip_data_df_unix_joined.select("Pickup_service_zone",
                               "Pickup_Borough",
                                "Pickup_Zone",
                                "Dropoff_service_zone",
                                "Dropoff_Borough",
                                "Dropoff_Zone").limit(5).toPandas()

### 4.3 Conversión de millas a kilómetros

Realizamos una conversión de millas a km ya que estamos más acostumbrados a trabajar con km y tenemos mejor la referencia de estas unidades.

In [12]:
# Convertimos y sobrescribimos la columna trip_distance en kilómetros
trip_data_df_unix_joined = trip_data_df_unix_joined.withColumn("trip_distance", F.col("trip_distance") * 1.60934)

# Mostramos los primeros registros para verificar la conversión
trip_data_df_unix_joined.select("trip_distance").limit(5).toPandas()

## 5. Implementación de las consultas

Una vez finalizado el análisis exploratorio y el preprocesamiento del conjunto de datos, y habiendo preparado los datos en el formato adecuado para su análisis, pasamos a abordar el objetivo principal de esta práctica: implementar consultas en Spark utilizando tres enfoques diferentes (SparkSQL, DataFrames de Spark y RDDs) y analizar el rendimiento de cada método.

Para lograr esto, partiremos del DataFrame `trip_data_df_unix_joined`, que contiene las fechas en formato UNIX y la información completa sobre las zonas de inicio y finalización de cada trayecto. La comparativa de rendimiento entre estos métodos nos permitirá entender las ventajas y limitaciones de cada enfoque en Spark y decidir cuál se adapta mejor según los distintos casos de uso en procesamiento de datos a gran escala.

### 5.1 Velocidad media de los taxis en función de la hora

A continuación, vamos a implementar las consultas para la obtención de la velocidad media de los taxis en función de la hora. 
La lógica general que seguimos para este proceso es la siguiente:

1. **Calcular la duración del viaje en horas**: Usaremos los timestamps de inicio y finalización del trayecto (tpep_pickup_datetime y tpep_dropoff_datetime) para calcular la duración en horas.
   
2. **Calcular la velocidad media**: La velocidad media se obtiene dividiendo la distancia del viaje en km (trip_distance) entre la duración del viaje en horas.

3. **Extraer la hora de recogida**: Para analizar la velocidad media por hora del día, extraemos la hora de la columna tpep_pickup_datetime.

4. **Agrupar por la hora y calcular la media**.

En el paso 2, debemos tener especial cuidado con los casos en los que la duración del viaje sea igual a 0, ya que esto resultaría en una división entre cero.

Es importante destacar que, mientras que tanto los DataFrames como SparkSQL manejan las divisiones por cero sin generar errores (en tales casos, el resultado se devuelve como un valor nulo, que se ignora al calcular promedios), los RDDs sí que arrojan errores en estas operaciones. Por lo tanto, antes de proceder con los cálculos, es fundamental verificar si existen viajes con una duración de 0 en nuestro conjunto de datos.

In [13]:
# Filtrar el DataFrame donde la duración es 0
zero_duration_df = trip_data_df_unix_joined.filter(
    (trip_data_df_unix_joined["tpep_dropoff_datetime_unix"] - trip_data_df_unix_joined["tpep_pickup_datetime_unix"]) == 0
)

# Contar cuántas filas tienen duración 0
zero_duration_count = zero_duration_df.count()

# Mostrar el resultado
print(f"Número de viajes con duración 0: {zero_duration_count}")

Observamos que existen viajes con una duración de 0. Por lo tanto, con el objetivo de que todas las consultas realicen pasos similares y así ser más exactos en la comparación del rendimiento entre los diferentes enfoques, procederemos a filtrar las filas donde la duración del viaje sea mayor que 0 en las tres consultas.

#### 5.1.1 Dataframes de Spark

In [14]:
import time 

# 1. Calculamos la duración del viaje en horas
trip_data_df_unix_joined_df = trip_data_df_unix_joined.withColumn(
    "trip_duration_hours",
    (F.col("tpep_dropoff_datetime_unix") - F.col("tpep_pickup_datetime_unix")) / 3600
)

# 2. Filtramos las filas donde la duración del viaje es mayor que 0
trip_data_df_unix_joined_df = trip_data_df_unix_joined_df.filter(F.col("trip_duration_hours") > 0)

# 3. Calculamos la velocidad media en función de la duración y distancia del viaje
trip_data_df_unix_joined_df = trip_data_df_unix_joined_df.withColumn(
    "avg_speed",
    F.col("trip_distance") / F.col("trip_duration_hours")
)

# 4. Extraemos la hora de la columna tpep_pickup_datetime para hacer el análisis por hora del día
trip_data_df_unix_joined_df = trip_data_df_unix_joined_df.withColumn(
    "pickup_hour",
    F.hour("tpep_pickup_datetime")
)

# 5. Agrupamos por la hora del día y calcular la velocidad media
avg_speed_by_hour = trip_data_df_unix_joined_df.groupBy("pickup_hour").agg(
    F.avg("avg_speed").alias("average_speed")
).orderBy("pickup_hour")

# Medimos el tiempo que de inicio y final de la consulta
initial_time_avg_speed_df = time.time()
avg_speed_by_hour.show(24) # Realizamos la consulta
final_time_avg_speed_df = time.time()

elapsed_time_avg_speed_df = final_time_avg_speed_df - initial_time_avg_speed_df

print("Tiempo de ejecución (DataFrames): ", elapsed_time_avg_speed_df, "segundos\n")

#### 5.1.2 SparkSQL

In [15]:
# Registramos el DataFrame original como una vista temporal para poder usar SQL
trip_data_df_unix_joined.createOrReplaceTempView("trip_data")

# Ejecutamos la consulta unificada en SQL
avg_speed_by_hour_sql_query = """
    SELECT 
        hour(tpep_pickup_datetime) AS pickup_hour,
        AVG(trip_distance / ((tpep_dropoff_datetime_unix - tpep_pickup_datetime_unix) / 3600)) AS average_speed
    FROM 
        trip_data
    WHERE 
        (tpep_dropoff_datetime_unix - tpep_pickup_datetime_unix) > 0  -- Para evitar divisiones por cero
    GROUP BY 
        hour(tpep_pickup_datetime)
    ORDER BY 
        pickup_hour
"""

# Medimos el tiempo de ejecución de la consulta
initial_time_avg_speed_sql = time.time()
spark.sql(avg_speed_by_hour_sql_query).show(24) # Realizamos la consulta
final_time_avg_speed_sql = time.time()

elapsed_time_avg_speed_sql = final_time_avg_speed_sql - initial_time_avg_speed_sql

# Imprimimos el tiempo de ejecución y el resultado en formato tabla
print("Tiempo de ejecución (SparkSQL): ", elapsed_time_avg_speed_sql, "segundos\n")

#### 5.1.3 RDDs

In [16]:
import time
from pyspark.sql import Row

# Convertimos el DataFrame a RDD
trip_data_rdd = trip_data_df_unix_joined.rdd

# Definimos una función para calcular la velocidad media y extraer la hora de recogida
def calculate_speed(row):
    # Calculamos la duración del viaje en horas
    trip_duration_hours = (row['tpep_dropoff_datetime_unix'] - row['tpep_pickup_datetime_unix']) / 3600
    # Extraemos la hora de la columna de fecha y hora de recogida
    pickup_hour = row['tpep_pickup_datetime'].hour
    return (pickup_hour, trip_duration_hours, row['trip_distance'])


# Medimos el tiempo de ejecución
initial_time_avg_speed_rdd = time.time()
# Realizamos la consulta
avg_speed_by_hour_rdd = (
    trip_data_rdd
    .map(calculate_speed)                          # Calculamos la duración del viaje y recogemos la información necesaria
    .filter(lambda x: x[1] > 0)                    # Filtramos filas donde la duración es mayor que 0
    .map(lambda x: (x[0], x[2] / (x[1])))          # Calculamos la velocidad media
    .groupByKey()                                   # Agrupamos por hora
    .mapValues(lambda speeds: sum(speeds) / len(speeds))  # Calculamos el promedio
    .sortByKey()                                    # Ordenamos por la hora
)
# Convertimos a DataFrame y ejecutamos la consulta
avg_speed_by_hour_rdd.toDF(["pickup_hour", "average_speed"]).show(24)
# Medimos el tiempo final
final_time_avg_speed_rdd = time.time()

elapsed_time_avg_speed_rdd = final_time_avg_speed_rdd - initial_time_avg_speed_rdd

# Imprimimos el tiempo de ejecución y el resultado
print("Tiempo de ejecución (RDD): ", elapsed_time_avg_speed_rdd, "segundos\n")

### 5.2 Viajes en taxi más comunes
Los pasos que seguimos para obtener los viajes en taxi más comunes en base a las zonas son los siguientes:
1. **Agrupación**: Agrupamos por Pickup_Zone y Dropoff_Zone, lo que permite identificar combinaciones de origen y destino.
   
2. **Conteo**: Utilizamos .count() para contar la cantidad de veces que cada combinación aparece.

3. **Orden**: Ordenamos el resultado en orden descendente por el número de ocurrencias.
   
4. **Visualización**: Se muestran los primeros 10 resultados (10 viajes más comunes).

#### 5.2.1 Dataframes de Spark

In [17]:
# Agrupamos por las columnas de ubicación de recogida y destino y contamos las ocurrencias
most_common_trips_df = (trip_data_df_unix_joined
    .groupBy("Pickup_Zone", "Dropoff_Zone")
    .count()  # Contamos el número de viajes por combinación de PULocationID y DOLocationID
    .orderBy(F.desc("count"))  # Ordenamos en orden descendente para ver las más comunes primero
)

# Medimos el tiempo de ejecución
initial_time_common_df = time.time()
# Mostramos los 10 viajes más comunes
most_common_trips_df.show(10)
# Medimos el tiempo final
final_time_common_df = time.time()

elapsed_time_common_df = final_time_common_df - initial_time_common_df

# Imprimimos el tiempo de ejecución y el resultado
print("Tiempo de ejecución (DataFrames): ", elapsed_time_common_df, "segundos\n")

#### 5.2.2 SparkSQL

In [18]:
# Registramos el DataFrame como una vista temporal
trip_data_df_unix_joined.createOrReplaceTempView("trip_data_common_trips")

# Consulta SQL para obtener los 10 viajes más comunes entre zonas de recogida y destino
most_common_trips_sql = spark.sql("""
    SELECT 
        Pickup_Zone, 
        Dropoff_Zone, 
        COUNT(*) AS trip_count
    FROM 
        trip_data_common_trips
    GROUP BY 
        Pickup_Zone, Dropoff_Zone
    ORDER BY 
        trip_count DESC
    LIMIT 10
""")

# Medimos el tiempo de ejecución
initial_time_common_sql = time.time()
# Mostramos los resultados
most_common_trips_sql.show(10)
# Medimos el tiempo final
final_time_common_sql = time.time()

elapsed_time_common_sql = final_time_common_sql - initial_time_common_sql

# Imprimimos el tiempo de ejecución y el resultado
print("Tiempo de ejecución (SparkSQL): ", elapsed_time_common_sql, "segundos\n")

#### 5.2.3 RDDs

In [19]:
# Convertimos el DataFrame a RDD
trip_data_rdd = trip_data_df_unix_joined.select("Pickup_Zone", "Dropoff_Zone").rdd

# Medimos el tiempo inicial
initial_time_common_rdd = time.time()

# Calculamos los viajes más comunes
most_common_trips_rdd = (trip_data_rdd
    .map(lambda row: ((row["Pickup_Zone"], row["Dropoff_Zone"]), 1))  # Creamos pares clave-valor con (Pickup_Zone, Dropoff_Zone) y cuenta 1
    .reduceByKey(lambda a, b: a + b)  # Sumamos las cuentas para cada combinación de zonas
    .sortBy(lambda x: x[1], ascending=False)  # Ordenamos en orden descendente por la cuenta
)
most_common_trips_rdd.toDF(["Zones", "Count"]).show(10)
# Medimos el tiempo final
final_time_common_rdd = time.time()

elapsed_time_common_rdd = final_time_common_rdd - initial_time_common_rdd

# Imprimimos el tiempode ejecución y el resultado
print("Tiempo de ejecución (RDD): ", elapsed_time_common_rdd, "segundos\n")

La columna Zones se trata de una tupla indicando el origen y el destino:

In [20]:
# Tomamos los 10 viajes más comunes
top_10_common_trips = most_common_trips_rdd.take(10)

# Convertimos el resultado a un DataFrame de Pandas para mostrarlo
top_10_df = spark.createDataFrame(top_10_common_trips, ["Zones", "Count"]).toPandas()

top_10_df

### 5.3 Cantidad total media pagada en función del número de pasajeros
Los pasos seguidos para realizar esta consulta son los siguientes:

1. **Agrupar por número de pasajeros**

2. **Calcular la media** de la cantidad total pagada para cada número de pasajeros

3. **Ordenar por número de pasajeros**

#### 5.3.1 Dataframes de Spark

In [21]:
# Medir el tiempo de ejecución
start_time_total_df = time.time()
# Calculamos la cantidad total media pagada en función del número de pasajeros
avg_total_paid_by_passengers_df = (
    trip_data_df_unix_joined
    .groupBy("passenger_count")
    .agg(F.avg("total_amount").alias("average_total_paid"))
    .orderBy("passenger_count")
)
# Mostramos los resultados
avg_total_paid_by_passengers_df.show()
# Medimos el tiempo final
end_time_total_df = time.time()

elapsed_time_total_df = end_time_total_df - start_time_total_df

print("Tiempo de ejecución (DataFrames):", elapsed_time_total_df, "segundos")

#### 5.3.2 SparkSQL

In [22]:
# Registrar el DataFrame como una vista temporal
trip_data_df_unix_joined.createOrReplaceTempView("trip_data")

# Ejecutar la consulta SQL para calcular la cantidad total media pagada
avg_total_paid_by_passengers_sql = spark.sql("""
    SELECT passenger_count, AVG(total_amount) AS average_total_paid
    FROM trip_data
    GROUP BY passenger_count
    ORDER BY passenger_count
""")

# Medir el tiempo de ejecución
start_time_total_sql = time.time()
# Mostrar los resultados
avg_total_paid_by_passengers_sql.show()
# Medir el tiempo final
end_time_total_sql = time.time()

elapsed_time_total_sql = end_time_total_sql - start_time_total_sql

print("Tiempo de ejecución (Spark SQL):", elapsed_time_total_sql, "segundos")

#### 5.3.3 RDDs

In [23]:
# Convertimos el DataFrame a RDD
trip_data_total_rdd = trip_data_df_unix_joined.rdd

# Medimos el tiempo de ejecución
start_time_total_rdd = time.time()
# Calculamos la cantidad total media pagada en función del número de pasajeros
avg_total_paid_by_passengers_rdd = (
    trip_data_total_rdd
    .map(lambda row: (row["passenger_count"], (row["total_amount"], 1)))  # Creamos pares clave-valor
    .reduceByKey(lambda a, b: (a[0] + b[0], a[1] + b[1]))  # Sumamos total_amount y contamos el número de ocurrencias para un mismo número de pasajeros
    .mapValues(lambda x: x[0] / x[1])  # Calculamos la media
    .sortByKey()  # Ordenamos por número de pasajeros
)
# Convertimos a DataFrame para obtener los datos y visualizarlos
avg_total_paid_by_passengers_rdd.toDF(["passenger_count", "average_total_paid"]).show()
# Medimos el tiempo final
end_time_total_rdd = time.time()

elapsed_time_total_rdd = end_time_total_rdd - start_time_total_rdd

print("Tiempo de ejecución (RDDs):", elapsed_time_total_rdd, "segundos")

## 6. Análisis del rendimiento comparando las distintas consultas
En esta sección, se llevará a cabo un análisis detallado del rendimiento de las consultas ejecutadas, comparando los tres enfoques diferentes: **DataFrames, SQL y RDDs**. Se evaluará la eficiencia de cada método en términos de tiempo de ejecución y speedup, permitiendo identificar cuál de estos enfoques es más adecuado para realizar consultas sobre grandes volúmenes de datos en Apache Spark. Se presentarán los resultados obtenidos, así como gráficos que faciliten la interpretación de los datos.

### 6.1 Análisis de tiempos de ejecución de las consultas
Para facilitar la comparación de los tiempos de ejecución de las consultas, se presenta una gráfica de barras que permiten visualizar de manera clara y concisa los resultados obtenidos a través de los tres enfoques

In [24]:
import matplotlib.pyplot as plt
import numpy as np

# Datos de tiempos de ejecución
labels = ['Velocidad Media', 'Viajes Comunes', 'Cantidad Total Media Pagada']
df_times = [elapsed_time_avg_speed_df, elapsed_time_common_df, elapsed_time_total_df]
sql_times = [elapsed_time_avg_speed_sql, elapsed_time_common_sql, elapsed_time_total_sql]
rdd_times = [elapsed_time_avg_speed_rdd, elapsed_time_common_rdd, elapsed_time_total_rdd]

# Configuración de la gráfica
x = np.arange(len(labels))  # la ubicación de las etiquetas
width = 0.25  # el ancho de las barras

fig, ax = plt.subplots(figsize=(10, 6))
bars1 = ax.bar(x - width, df_times, width, label='DataFrame', color='b')
bars2 = ax.bar(x, sql_times, width, label='SQL', color='g')
bars3 = ax.bar(x + width, rdd_times, width, label='RDD', color='r')

# Añadimos etiquetas, título y personalizamos la gráfica
ax.set_ylabel('Tiempo de Ejecución (segundos)')
ax.set_title('Comparación de Tiempos de Ejecución')
ax.set_xticks(x)
ax.set_xticklabels(labels)
ax.legend()

# Etiquetas en las barras
for bars in (bars1, bars2, bars3):
    for bar in bars:
        yval = bar.get_height()
        ax.text(bar.get_x() + bar.get_width()/2, yval, round(yval, 2), ha='center', va='bottom')

plt.tight_layout()
plt.show()

#### Análisis de Resultados del Gráfico de Comparación de Tiempos de Ejecución

- Al observar esta gráfica, es evidente la diferencia significativa en los tiempos de consulta entre RDDs y los enfoques de DataFrames y Spark SQL. Esta disparidad en el rendimiento se debe principalmente a que tanto Spark SQL como los DataFrames aprovechan el optimizador de consultas Catalyst, que aplica una variedad de optimizaciones a las consultas. Estas optimizaciones incluyen el reordenamiento de operaciones, la fusión de etapas y la eliminación de cálculos redundantes, lo que permite una ejecución más eficiente de las consultas. En cambio, los RDDs en Apache Spark utilizan un enfoque basado en grafos para optimizar las transformaciones, pero sus optimizaciones son más limitadas y menos específicas en comparación con las aplicadas a los DataFrames y Spark SQL.

- La consulta de **"Cantidad Total Media Pagada"** muestra una diferencia particularmente alta en el tiempo de ejecución de los RDDs frente a los otros dos métodos. Esto se debe probablemente a la naturaleza de la consulta, que involucra cálculos complejos de agregación que Catalyst optimiza eficientemente en SQL y DataFrames. Al realizar esta consulta con RDDs, usamos `reduceByKey` para sumar el monto total pagado y contar las ocurrencias para cada número de pasajeros, mediante una operación como `reduceByKey(lambda a, b: (a[0] + b[0], a[1] + b[1]))`. Esta operación, aunque efectiva, es más costosa en términos de tiempo de ejecución porque Spark no puede aplicar las mismas optimizaciones de Catalyst, lo que se traduce en un tiempo de procesamiento significativamente mayor.

- En general, los enfoques de **DataFrames y Spark SQL** son altamente recomendables para consultas de análisis en Spark, ya que el optimizador Catalyst reduce los tiempos de ejecución de manera significativa en comparación con los RDDs. Mientras que los RDDs pueden ser útiles para transformaciones personalizadas que requieren un control granular, resultan menos eficientes para cálculos complejos de agregación y deberían usarse principalmente en casos donde Catalyst no pueda aplicar optimizaciones adicionales.

### 6.2 Análisis del speedup

In [25]:
import pandas as pd
# Datos de tiempo de ejecución
data = {
    "Consulta": [
        "Velocidad Media",
        "Viajes en Taxi Más Comunes",
        "Cantidad Total Media Pagada"
    ],
    "DataFrame (segundos)": [
        elapsed_time_avg_speed_df,
        elapsed_time_common_df,
        elapsed_time_total_df
    ],
    "SQL (segundos)": [
        elapsed_time_avg_speed_sql,
        elapsed_time_common_sql,
        elapsed_time_total_sql
    ],
    "RDD (segundos)": [
        elapsed_time_avg_speed_rdd,
        elapsed_time_common_rdd,
        elapsed_time_total_rdd
    ]
}

# Crear un DataFrame
df = pd.DataFrame(data)

# Calcular el speedup
df["Speedup (SQL vs DataFrame)"] = df["SQL (segundos)"] / df["DataFrame (segundos)"]
df["Speedup (RDD vs DataFrame)"] = df["RDD (segundos)"] / df["DataFrame (segundos)"]
df["Speedup (RDD vs SQL)"] = df["RDD (segundos)"] / df["SQL (segundos)"]

# Graficar el speedup
plt.figure(figsize=(12, 6))

# Configuración de los gráficos
bar_width = 0.25
index = np.arange(len(df))

# Barras para el speedup
bars1 = plt.bar(index, df["Speedup (SQL vs DataFrame)"], bar_width, label="SQL vs DataFrame", color='b')
bars2 = plt.bar(index + bar_width, df["Speedup (RDD vs DataFrame)"], bar_width, label="RDD vs DataFrame", color='g')
bars3 = plt.bar(index + 2 * bar_width, df["Speedup (RDD vs SQL)"], bar_width, label="RDD vs SQL", color='r')

# Agregar los valores en cada barra
for bar in bars1 + bars2 + bars3:
    yval = bar.get_height()
    plt.text(bar.get_x() + bar.get_width()/2, yval, round(yval, 2), ha='center', va='bottom')

# Personalizar el gráfico
plt.xlabel('Consultas')
plt.ylabel('Speedup')
plt.title('Análisis de Speedup para Consultas en PySpark')
plt.xticks(index + bar_width, df["Consulta"])
plt.legend()

# Mostrar el gráfico
plt.tight_layout()
plt.show()

`PÁRRAFO EXPLICANDO EL SPEEDUP`

## 7. Análisis del rendimiento en base al número de cores utilizado

En esta sección, se lleva a cabo un análisis exhaustivo del impacto que tiene la variación en el número de cores utilizados en el rendimiento de las consultas ejecutadas con Apache Spark. Para ello, modificamos el parámetro `local[]` en la configuración de la `SparkSession`, lo que nos permite asignar diferentes cantidades de cores al procesamiento. Dado que el kernel debe ser reiniciado cada vez que se realiza un cambio en esta configuración, registramos los resultados del tiempo de ejecución en archivos externos para asegurar que la información se conserve y se pueda analizar posteriormente. Además, se analizará el speedup obtenido en función del número de cores utilizados, proporcionando una visión clara sobre cómo la paralelización afecta a la eficiencia y rendimiento de nuestras operaciones.

Guardamos los tiempos para el número de cores en cuestión

In [34]:
import json

# Datos de tiempo de ejecución
data = {
    "Consulta": [
        "Velocidad Media",
        "Viajes en Taxi Más Comunes",
        "Cantidad Total Media Pagada"
    ],
    "DataFrame (segundos)": [
        elapsed_time_avg_speed_df,
        elapsed_time_common_df,
        elapsed_time_total_df
    ],
    "SQL (segundos)": [
        elapsed_time_avg_speed_sql,
        elapsed_time_common_sql,
        elapsed_time_total_sql
    ],
    "RDD (segundos)": [
        elapsed_time_avg_speed_rdd,
        elapsed_time_common_rdd,
        elapsed_time_total_rdd
    ]
}

# Crear un DataFrame
df = pd.DataFrame(data)

# Guardar el DataFrame en un archivo JSON
df.to_json(f'exe_times/tiempos_ejecucion_{cores}_cores.json')

print(f"Los datos han sido guardados en tiempos_ejecucion_{cores}_cores.json")

`EJECUTAR TODO MODIFICANDO LA VARIABLE cores (arriba del todo) Y ANALIZAR LA VARIACIÓN DE LOS TIEMPOS Y EL SPEEDUP!`

In [42]:
# Almacena los datos en una lista de diccionarios
data = []

# Cargar cada archivo JSON de 1 a 32 núcleos
for cores in range(1, 32):
    with open(f'exe_times/tiempos_ejecucion_{cores}_cores.json') as file:
        json_data = json.load(file)
        for method in ["DataFrame (segundos)", "SQL (segundos)", "RDD (segundos)"]:
            for i, consulta in enumerate(json_data["Consulta"].values()):
                data.append({
                    "Núcleos": cores,
                    "Consulta": consulta,
                    "Método": method.replace(" (segundos)", ""),
                    "Tiempo (segundos)": json_data[method][str(i)]
                })

# Convertir a un DataFrame
df_consultas = pd.DataFrame(data)
print(df_consultas)

In [43]:
import seaborn as sns

# Configurar el estilo de la gráfica
sns.set(style="whitegrid")

# Crear un gráfico de líneas para cada consulta
for consulta in df_consultas["Consulta"].unique():
    plt.figure(figsize=(12, 6))
    subset = df_consultas[df_consultas["Consulta"] == consulta]
    sns.lineplot(data=subset, x="Núcleos", y="Tiempo (segundos)", hue="Método", marker="o")
    
    plt.title(f"Tiempos de Ejecución para '{consulta}' con Diferentes Núcleos")
    plt.xlabel("Número de Núcleos")
    plt.ylabel("Tiempo de Ejecución (segundos)")
    plt.legend(title="Método")
    plt.show()

### 1. Velocidad Media
Al analizar los tiempos de ejecución para la consulta "Velocidad Media" en Apache Spark con los enfoques DataFrame, SQL y RDD, se identifican las siguientes conclusiones clave:

1. **Desempeño de Cada Método**:
   - **DataFrame y SQL**: Ambos métodos ofrecen tiempos de ejecución similares y generalmente más bajos que RDD a lo largo de la variación de núcleos, indicando que aprovechan el optimizador Catalyst en Spark. Esto mejora su rendimiento, especialmente en consultas simples.
   - **RDD**: Muestra tiempos significativamente más altos y una mayor variabilidad con el aumento de núcleos, reflejando su falta de optimización en comparación con DataFrame y SQL.

2. **Efecto de la Paralelización**:
   - **DataFrame y SQL**: Observan una leve mejora en rendimiento al incrementar los núcleos hasta un punto de saturación (alrededor de 8-10 núcleos), tras el cual añadir más núcleos no aporta beneficios significativos debido al overhead de paralelización.
   - **RDD**: No sigue una tendencia clara de mejora con más núcleos; en varios puntos (por ejemplo, con 25 núcleos), el tiempo de ejecución aumenta debido al overhead en la gestión de tareas, haciendo que RDD sea menos eficiente para consultas paralelas.

3. **Conclusión sobre Escalabilidad**:
   - **DataFrame y SQL** son los métodos más eficientes y adecuados para esta consulta, logrando un rendimiento estable con un número moderado de núcleos y evitando overhead adicional.
   - **RDD** no es recomendable para este tipo de análisis en términos de rendimiento y escalabilidad, debido a su mayor variabilidad en tiempos de ejecución y falta de optimización.

En resumen, para la consulta "Velocidad Media", **DataFrame y SQL son preferibles en Apache Spark** debido a su rendimiento superior y mejor aprovechamiento de los recursos de paralelización en comparación con RDD.


### 2. Viajes en Taxi Más Comunes
En la gráfica de tiempos de ejecución para la consulta "Viajes en Taxi Más Comunes" se identifican las siguientes observaciones:

1. **Desempeño de los Métodos**:
   - **DataFrame y SQL**: Ambos enfoques mantienen tiempos bajos y estables, con una ligera ventaja de SQL sobre DataFrame. Esto indica que ambos métodos aprovechan las optimizaciones de Catalyst en Spark, mejorando su eficiencia.
   - **RDD**: Muestra tiempos significativamente más altos y variables, lo que evidencia su falta de optimización en comparación con DataFrame y SQL.

2. **Paralelización y Número de Núcleos**:
   - **DataFrame y SQL**: Muestran una mejora marginal con el aumento de núcleos, alcanzando un punto de saturación alrededor de 8 núcleos, donde añadir más núcleos no mejora el rendimiento.
   - **RDD**: Su variabilidad en tiempos se incrementa especialmente a partir de 20 núcleos, lo que sugiere que el overhead de paralelización afecta negativamente su rendimiento en esta consulta.

3. **Conclusiones**:
   - **DataFrame y SQL** son los enfoques más eficientes y consistentes, alcanzando un rendimiento óptimo con alrededor de 8 núcleos.
   - **RDD** no es adecuado para esta operación debido a su falta de eficiencia y alta variabilidad, especialmente con un mayor número de núcleos.

En resumen, para la consulta "Viajes en Taxi Más Comunes," **DataFrame y SQL** son las mejores opciones, destacando en estabilidad y mejor aprovechamiento de la paralelización frente a RDD.


### 3. Cantidad Total Media Pagada
En la gráfica de tiempos de ejecución para la consulta "Cantidad Total Media Pagada" se identifican las siguientes conclusiones:

1. **Comparación de Métodos**:
   - **DataFrame y SQL**: Ambos enfoques presentan tiempos de ejecución bajos y estables independientemente del número de núcleos, siendo SQL ligeramente más rápido. Esto muestra que Catalyst optimiza eficientemente estas operaciones, manteniendo un rendimiento constante.
   - **RDD**: Exhibe tiempos de ejecución considerablemente más altos y variables. A medida que aumentan los núcleos, el tiempo de ejecución de RDD incrementa notablemente, indicando que el overhead de paralelización afecta su rendimiento negativamente.

2. **Impacto de la Paralelización**:
   - **DataFrame y SQL**: La estabilidad en sus tiempos indica que ambos métodos alcanzan un rendimiento óptimo con un número bajo de núcleos, sin necesidad de aumentar la paralelización, evitando así overhead innecesario.
   - **RDD**: No escala bien con el incremento de núcleos, ya que el tiempo de ejecución tiende a aumentar debido al overhead de coordinación y sincronización en el procesamiento distribuido.

3. **Conclusiones**:
   - **DataFrame y SQL** son los métodos más eficientes y consistentes para esta consulta, proporcionando tiempos rápidos sin overhead adicional.
   - **RDD** no es adecuado para esta consulta debido a su pobre escalabilidad y eficiencia.

En conclusión, **DataFrame y SQL** son las opciones recomendadas para esta operación, mientras que **RDD** debería evitarse por su baja eficiencia y escalabilidad.

In [40]:
# Filtrar los tiempos de ejecución con 1 núcleo como referencia para cada consulta y método
reference_times = df_consultas[df_consultas['Núcleos'] == 1].set_index(['Consulta', 'Método'])['Tiempo (segundos)']

# Crear una columna de Speedup en `df_consultas` dividiendo el tiempo de referencia por el tiempo para cada número de núcleos
df_consultas['Speedup'] = df_consultas.apply(
    lambda row: reference_times[row['Consulta'], row['Método']] / row['Tiempo (segundos)'],
    axis=1
)

# Visualizar el Speedup en una gráfica para cada consulta y método
for consulta in df_consultas['Consulta'].unique():
    plt.figure(figsize=(10, 6))
    for metodo in df_consultas['Método'].unique():
        subset = df_consultas[(df_consultas['Consulta'] == consulta) & (df_consultas['Método'] == metodo)]
        plt.plot(subset['Núcleos'], subset['Speedup'], marker='o', label=metodo)

    plt.xlabel("Número de Núcleos")
    plt.ylabel("Speedup")
    plt.title(f"Speedup vs Número de Núcleos para la Consulta '{consulta}'")
    plt.legend()
    plt.grid(True)
    plt.show()

### 1. Análisis del Speedup para la Consulta "Velocidad Media"

La gráfica de speedup para la consulta "Velocidad Media" presenta los siguientes puntos clave:

1. **Aumento Inicial de Speedup**:
   - **DataFrame y SQL**: Ambos métodos muestran un aumento de speedup hasta los 8-10 núcleos, aprovechando eficientemente la paralelización inicial.
   - **RDD**: Logra su pico de speedup más temprano, pero con un aumento menos pronunciado, reflejando limitaciones en su escalabilidad.

2. **Punto de Saturación**:
   - DataFrame y SQL alcanzan un rendimiento óptimo alrededor de los 10 núcleos; a partir de aquí, el overhead reduce gradualmente el speedup.
   - **RDD**: Su speedup disminuye rápidamente después de los 10 núcleos, evidenciando problemas para manejar un mayor número de núcleos.

3. **Inestabilidad en Núcleos Altos**:
   - Con más de 20 núcleos, todos los métodos experimentan una caída en speedup, especialmente **RDD**, donde el overhead de gestión supera los beneficios de paralelización.

### Conclusión

Para "Velocidad Media," **DataFrame y SQL** son más eficientes que **RDD**, alcanzando su mejor rendimiento con 8-10 núcleos. **RDD** presenta una escalabilidad limitada y es menos adecuado para esta consulta en configuraciones de múltiples núcleos.

### 2. Análisis del Speedup para la Consulta "Viajes en Taxi Más Comunes"

La gráfica de speedup para "Viajes en Taxi Más Comunes" muestra:

1. **Mayor Eficiencia de SQL**:
   - **SQL**: Alcanza un speedup superior a 3x alrededor de los 10 núcleos, indicando que aprovecha eficazmente la paralelización inicial, aunque después comienza a oscilar y reduce su eficiencia con más de 20 núcleos.
   - **DataFrame**: Muestra un comportamiento más estable, manteniendo un speedup de aproximadamente 1.5x hasta los 15 núcleos antes de decrecer gradualmente.

2. **Escalabilidad Limitada de RDD**:
   - **RDD**: Presenta un speedup bajo y muy estable, lo que refleja su dificultad para mejorar significativamente con más núcleos debido al overhead de gestión y su falta de optimización avanzada.

3. **Saturación a Partir de 20 Núcleos**:
   - SQL y DataFrame pierden eficiencia y presentan disminuciones notables en el speedup con más de 20 núcleos, indicando que el overhead supera los beneficios de añadir núcleos adicionales.

### Conclusión

Para esta consulta, **SQL es el método más eficiente en paralelización inicial**, mientras que **DataFrame** ofrece una estabilidad razonable sin tanta variabilidad. **RDD**, sin embargo, sigue mostrando limitaciones claras para beneficiarse de la paralelización.

### 3. Análisis del Speedup para la Consulta "Cantidad Total Media Pagada"

La gráfica de speedup para "Cantidad Total Media Pagada" revela:

1. **SQL como el Método Más Eficiente**:
   - **SQL**: Alcanza un speedup de hasta 2.5x con 8 núcleos, manteniendo un rendimiento superior a DataFrame en la mayoría de los casos. Sin embargo, su eficiencia disminuye a partir de los 20 núcleos debido al overhead de paralelización.
   - **DataFrame**: Aunque estable, el speedup es moderado, rondando 1.5x. Se comporta de manera constante, pero sin alcanzar los picos de SQL.

2. **Limitaciones de RDD**:
   - **RDD** muestra una tendencia de speedup menor a 1.0 conforme se incrementan los núcleos, reflejando un rendimiento ineficaz y un bajo aprovechamiento de la paralelización.

3. **Punto Óptimo de Paralelización**:
   - SQL y DataFrame tienen sus mejores rendimientos con pocos núcleos (alrededor de 8-10), después de lo cual el overhead reduce su eficiencia.

### Conclusión

Para esta consulta, **SQL es la mejor opción en términos de speedup inicial**, mientras que **DataFrame** es una alternativa estable. **RDD**, en cambio, sigue sin beneficiarse de la paralelización y muestra un rendimiento limitado.

## 8. Conclusiones

`sacar conclusiones`

`REVISAR Y AÑADIR`
### Conclusión General del Análisis de Rendimiento

El análisis comparativo de rendimiento entre DataFrame, SQL y RDD en Apache Spark revela que **DataFrame y SQL** son los enfoques más eficientes y estables para tareas analíticas. Ambos métodos aprovechan el optimizador Catalyst, logrando tiempos de ejecución bajos y consistentes, incluso con variaciones en el número de núcleos. Su rendimiento alcanza un punto óptimo de paralelización con un número moderado de núcleos, lo que permite una escalabilidad adecuada sin añadir overhead innecesario.

Por otro lado, **RDD** muestra mayores tiempos de ejecución y es menos eficiente, especialmente al incrementar el número de núcleos, donde el overhead de sincronización reduce su efectividad. Esto indica que RDD no es la opción ideal para tareas analíticas comunes en Spark y debería reservarse para casos específicos que requieran un control de bajo nivel en las operaciones.

En conclusión, **Spark SQL y DataFrames** son las herramientas recomendadas para análisis en entornos de big data debido a su balance óptimo entre rendimiento y escalabilidad, mientras que RDD resulta menos adecuado para consultas estándar de análisis de datos.